body {
}
.postimage,
.postimage img {
	width: 150px;
	height: 150px;
}

div.postimage-title
{
 	text-align: center;
	width: 100%;
	word-wrap: break-word;
    width: 150px;
	font-size: 12px;
}
div.postimage-title a
{
    
    text-decoration: none;
    text-overflow:ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.griditem
{
    /*width: 150px;*/
    height: 150px;
     
}
.griditemleft {
	float: left;
/*	width: 150px;*/
/*height: 150px;*/
	margin: 10px;
}



/*2.0 Enable center thumbnail grid*/
.thumbnailblock
{
    width: 100%;
    text-align: center;
}
.thumbnailgridcontainer
{
    display: inline-block;
}
.thumbnailgridcontainer:after { content: "."; visibility: hidden; display: block; clear: both; height: 0; font-size: 0; }
/*End center thumbnail grid*/
