body {
}
.postimage,
.postimage img {
	width: 150px;
	height: 150px;
}

div.postimage-title
{
 	text-align: center;
	width: 100%;
	word-wrap: break-word;
    width: 150px;
	font-size: 12px;
}
div.postimage-title a
{
    
    text-decoration: none;
    text-overflow:ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.griditem
{
    /*width: 150px;*/
    height: 150px;
     
}
.griditemleft {
	float: left;
	margin: 10px;
}

/*2.0 Enable center thumbnail grid*/
.thumbnailblock
{
    width: 100%;
    text-align: center;
    clear:both;
    display: block;
}
#thumbnailgridcontainer
{
    display: inline-block;
    max-width: 100%;
}
#thumbnailgridcontainer:after, #thumbnailgridcontainer:before, .thumbnailblock:after { content: "."; visibility: hidden; display: block; clear: both; height: 0; font-size: 0; }

